@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SCROLLER */
.scroll-progress-bar {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 6px;
  height: 15vh;
  background: rgba(200, 200, 200, 0.568);
  border-radius: 3px;
  cursor: pointer;
  z-index: 1000;
  pointer-events: none;
}

.scroll-progress-fill {
  position: absolute;
  top: 0;
  width: 100%;
  background: #763ec5;
  border-radius: 3px;
  height: 0%;
  pointer-events: none;
}

.go-home {
  position: fixed;
  bottom: 3%;
  left: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
  transition: 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.go-home img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  filter: invert(29%) sepia(53%) saturate(1625%) hue-rotate(241deg)
    brightness(105%) contrast(95%);
}

.go-home.visible {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.go-home:hover {
  transform: translateY(0) scale(1.1);
  background-color: #763ec5;
}

.go-home:hover img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(105%)
    contrast(105%);
}

.go-home:active {
  transform: translateY(0) scale(1.2);
  background-color: #8e4ceb;
}

/* DARK MODE */
:root {
  --bg-color: #262626;
  --text-color: #fff;
}

.dark {
  --bg-color: #fff;
  --text-color: #111;
}

/* Particles */
#particles-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

* h2 {
  font-size: 70px;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

/* MENU */

.menu {
  display: flex;
  position: fixed;
  height: 53px;
  width: 270px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 0 23px;
  box-sizing: border-box;
}

.menu a {
  display: flex;
  align-items: center;
}

.menu a:hover img {
  filter: invert(29%) sepia(53%) saturate(1625%) hue-rotate(241deg)
    brightness(105%) contrast(95%);
  transition: 0.3s;
  transform: scale(1.1);
}
.menu a:active img {
  transform: scale(1.2);
  filter: invert(29%) sepia(53%) saturate(1625%) hue-rotate(241deg)
    brightness(120%) contrast(105%);
  transition: 0.1s;
}

.menu a.active img {
  filter: invert(29%) sepia(53%) saturate(1625%) hue-rotate(241deg)
    brightness(105%) contrast(95%);
  transition: 0.3s;
  transform: scale(1.1);
}

.menu img {
  height: 35px;
  width: 35px;
  object-fit: contain;
  transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
  transform-origin: center bottom;
}

.bubble {
  position: absolute;
  bottom: -10px;
  width: 70px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: -1;
  left: 0;
}

/* SETTINGS */

.settings {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 15px;
}

.settings img {
  object-fit: contain;
  height: 35px;
  width: 35px;
}

/* [data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;

  transform: translateX(-35%) translateY(100%);
} */
/* HOME */

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.element-animation {
  opacity: 0;
  transform: translateX(-20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.element-animation.element-show p {
  color: #111;
}

.home h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
}

.home h1 b {
  color: #763ec5;
}

.home p {
  margin: 20px;
  font-size: 14px;
}

.open-modal-btn {
  width: 221px;
  height: 54px;
  background-color: #fff;
  color: #763ec5;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 30px;
  font-family: "Montserrat Alternates", sans-serif;
  transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
}

.open-modal-btn a {
  text-decoration: none;
  color: inherit;
}

.open-modal-btn:hover {
  background-color: #763ec5;
  color: #fff;
  transform: scale(1.1);
}

.open-modal-btn:active {
  background-color: #8e4ceb;
  color: #c2c2c2;
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9998;
}

.popup {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  display: none;
  max-width: 400px;
  color: #000;
}
.popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.no-scroll {
  overflow: hidden;
}

.left {
  width: 650px;
}

/* CAT */
.cat {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.cat_head {
  width: 240px;
  transform: translateY(109px);
  transition: transform 0.15s ease-out;
  /* Плавный переход */
}

.cat_body {
  width: 522px;
}

/* ARROW */

.arrow_down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 20%;
}

/* SKILLS */
.skills {
  display: grid;
  justify-content: center;
  min-height: 90vh;
}

.skills h2 {
  text-align: center;
  transform: translateY(10%);
}

.skills h2 b {
  color: #763ec5;
  text-align: center;
}

.skills h3 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 48px;
  width: 50%;
  transform: translateX(20%);
}

.skills p {
  font-size: 20px;
}

.skill_category {
  display: flex;
  width: 1300px;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}

.skill_category > div {
  width: 50%;
}

.skill_category img {
  width: 50px;
  height: 50px;
}

.skill_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.skill_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  transform: translateY(10%);
}

.projects img {
  height: 60vh;
}

.project_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_list {
  width: 777px;
  font-size: 40px;
}

.project_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#footer p {
  color: #763ec5;
  font-size: 2em;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

.messengers {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.messengers img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin: 20px 0;
}

.messengers img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.dev {
  font-size: 10px;
  color: #797979;
  margin-bottom: 10px;
}
