* {
  background-color: #262626;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  
  height: 40px;
  width: 40px;
}

.menu {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  width: 302px;
  height: 63px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
  z-index: 1000;
}

.menu a {
  background-color: white;
}
.menu a img {
  background-color: white;
 
}

.settings {
  display: flex;
  ;
}